.player-score {
    box-sizing: border-box;
    width: 50px;
    height: 20px;
    background-color:#fffcee;
    border: 2px solid #f25a70;
    padding: 1px;
    display: flex;
    gap: 1px;
  }
  
  .player-score > .pointer {
    background-color: #828282;
    text-indent: -9999px;
    overflow: hidden;
    width: 33%;
  }
  
  .player-score[data-points="1"] > .pointer:first-child {
    background-color: #62C370;
  }
  
  .player-score[data-points="2"] {
    flex-direction: row-reverse;
  }
  .player-score[data-points="2"] > .pointer:nth-child(n+2) {
    background-color: #62C370;
  }
  
  .player-score[data-points="3"] > .pointer {
    background-color: #62C370;
  }